<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css') }}" />
    {% endblock %}
  </head>
  <body>
    {% block page_content %}
 <div class="background-wrap">
  <div class="background"></div>
</div>
<h1>COLLABORATIVE FILTERING ALGORITHM BASED ON <br> <span style="font-size: 1.5rem;">RATING DIFFERENCE AND USER INTEREST</span></h1>

<marquee class="blink" width="100%" direction="left" height="50px">COLLABORATIVE FILTERING ALGORITHM IS ONE OF THE WIDELY USE APPROCHESE IN DAILY LIFE, SO HOW TO IMPROVE QUALITY AND EFFICENCY OF COLLABORATIVE FILTERING ALGORITHM IS AN ESSENTIAL PROBLEM USUALLY, SOME TRADITION ALGORITHM FOCUS ON USER RATING, WHILE THEY DON'T TAKE USER RATING USER RATING DIFFERENCE AND USER INTEREST INTO ACCOUNT. HOWEVER, USER HAVE LITTLE RATING DIFFERENCE.</marquee>

<form id="accesspanel" action="admin.html" method="post">
  <h1 id="litheader">Admin Login<br><span style="font-size:13px; color:green;">WELCOME TO ADMIN PANEL</span></h1>
  <div class="inset">
    <p>
      <input type="text" name="username" id="email" placeholder="Email address">
    </p>
    <p>
      <input type="password" name="password" id="password" placeholder="Access code">
    </p>
    
    <input class="loginLoginValue" type="hidden" name="service" value="login" />
    <a href="user_login"><input class="loginLoginValue" type="button" name="service" value="USER LOGIN" /></a>
    <a href="register_page"><input class="loginLoginValue" type="button" name="service" value="REGISTER" /></a>
  </div>
  <p class="p-container">
    <input type="submit" id="go" value="Authorize">
  </p>
</form>
{% endblock %}
  </body>
</html>
