<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width,
				initial-scale=1.0">
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',path='style.css')}}" /> -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='newstyle.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='responsive.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/css/main1.css') }}">
</head>
<!-- <style>
#lname{
    font-size: 1.8rem;
	color: green;
}
#lname:hover{
    filter: grayscale();
}
</style> -->
<style>
    #lname{
    font-size: 1.8rem;
	color: green;
    }
    #lname:hover{
        filter: grayscale();
    }
    </style>
    
	<script>
		if(performance.navigation.type == performance.navigation.TYPE_RELOAD)
		{
			window.location.href='user_friend_list';
		}
	</script>
<body>

<!-- for header part -->
<header>

	<div class="logosec">
		<div class="logo"><img src="static/images/log.svg" width="150px" height="50px"></div>
		<img src="static/images/Untitled-design-(30).png"
			class="icn menuicn"
			id="menuicn"
			alt="menu-icon">
	</div>

	<div class="title">
		<h3>COLLABORATIVE FILTERING ALGORITHM</h3>
	</div>

	<form action="/user_search_friend_list" method="get">
	<div class="searchbar">
		<input type="text"
			placeholder="Search" name="search_value">
		<div class="searchbtn">
		<button><img src="static/images/Untitled-design-(28).png"
				class="icn srchicn"
				alt="search-icon"></button>
		<!-- <input type="submit" value="Search" src="static/images/Untitled-design-(28).png" class="icn srchicn"> -->
		</div>
	</div>
	</form>

	<div class="message">
		<div class="circle"></div>
		<img src="static/images/non_notify.png"
			class="icn"
			alt="">
		<div class="dp">
			<img src="../static/images/profile-removebg-preview.png" alt="person-circle" class="dpicn" />
		</div><span id="lname">{{lname}}</span>
	</div>

</header>

<div class="main-container">
	<div class="navcontainer">
		<nav class="nav">
			<div class="nav-upper-options">
				<div class="nav-option option2">
					<img src="static/images/home-white.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="/user_menu" style="text-decoration: none;color: #FFBB00; cursor: pointer;"> Dashboard</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/search.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_view_users" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> SEARCH FRIEND</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/non_notify.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_request" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> VIEW REQUESTS</a></h3>
				</div>

				<div class="nav-option option1">
					<img src="static/images/eye-white.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_friend_list" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> VIEW FRIENDS LIST</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/vid.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_view_videos" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> VIEW ALL VIDEOS</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/video-white.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_recommended_videos" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 10.5px;"> FRIENDS RECOMMENDED VIDEOS</a></h3>
				</div>
				
			

				<div class="nav-option logout">
					<img src="static/images/power-white.png"
						class="nav-img"
						alt="logout">
					<h3><a href="user_logout" style="text-decoration: none;color: red; cursor: pointer; font-size: 14px;">Logout</a></h3>
				</div>

			</div>
		</nav>
	</div>
	<div class="main">
		
		<center><h1>FRIEND LIST</h1></center>
		<br><br>
		<div class="limiter">
			<div class="container-table101">
				<div class="wrap-table100">
					<div class="table100 ver1 m-b-110">
						<div class="table100-head">
						<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column2" >FRIENDS</th>
										<th class="cell100 column2">VIEW FRIEND'S PEOPLE</th>
										
									</tr>
								</thead>
							</table>
						</div>
						<div class="table100-body js-pscroll">
			<table>
				<tbody style="text-align: center;">
					{% if bool %}
					{% set count = namespace(value=0) %}
					{% for friend in fr_list %}
					{% for user in users %}
					{% if friend == user.id|string %}
					<tr class="row100 body">
						<td class="cell100 column2">{{user.username}}</td>
						<td class="cell100 column2">{{fr_fr_list[count.value]}}</td>
						{% set count.value = count.value + 1 %}
					</tr>
					{% endif %}
					{% endfor %}
					{% endfor %}
					{% else %}
					<tr class="row100 body">
						<td class="cell100 column2">{{user.username}}</td>
						<td class="cell100 column2">{{fr_list}}</td>
					</tr>
					{% endif %}
		</tbody>
			</table>
		</div>					
	
						
					</div>
					
				</tbody>
							</table>
						</div>
					</div>
	</div>

		<footer style="color: red; padding: 35vh 0 0 71vh; justify-content: center;">
			Copyright By 2023 All Rights Reserve
		</footer>
	</div>
</div>


	<script>
		let menuicn = document.querySelector(".menuicn");
		let nav = document.querySelector(".navcontainer");
		
		menuicn.addEventListener("click",()=>
		{
			nav.classList.toggle("navclose");
		})

		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

	
</body>
</html>
