<!doctype html>
<html lang="en">
  <head>
  	<title>Contact Form 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="styles.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Create Account</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-7 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">User Information</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form action="" method="post" id="contactForm">
										<div class="row">
										<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="cname" id="name" placeholder="Enter Name" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="email" class="form-control" name="cemail" id="name" placeholder="Enter Email" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="password" class="form-control" name="cmob" id="subject" placeholder="Enter Password" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="number" class="form-control" name="cage" id="subject" placeholder="Enter Phone number" required>
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
                                                    <label>Occupation</label>
                                                    <select>
                                                        <optgroup label="STUDENT">
                                                            <option>B.TECH</option>
                                                            <option>M.TECH</option>
                                                            <option>OTHER</option>
                                                        </optgroup>
                                                        <optgroup label="JOB ROLE">
                                                            <option>DATA MINING ENGINEER</option>
                                                            <option>DATA ANALYST</option>
                                                            <option>DATA SCINETIST</option>
                                                        </optgroup>
                                                    </select>
												</div>
											</div>
											
											
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" class="btn btn-primary">
													<a href="index.html"><input type="button" class="btn btn-primary" value="Back"></a>
													<div class="submitting"></div>
												</div>
											</div>
											
										</div>
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
  

	</body>
</html>

