<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>View Other Users</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',path='newstyle.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static',path='responsive.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/css/util.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/css/main1.css') }}">
	<style>
.row100 button{
  padding: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2196F3;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.3rem #999;
}

.row100 button:hover {background-color: #219FF3}

.row100 button:active {
  background-color: #1747d7;
  box-shadow: 0 0.11rem #666;
  transform: translateY(4px);
}
#lname{
		font-size: 1.8rem;
		color: green;
    }
    #lname:hover{
		filter: grayscale();
    }
</style>
<script>
	if(performance.navigation.type == performance.navigation.TYPE_RELOAD)
	{
		window.location.href='user_view_users';
	}
</script>
</head>
<body>
<!-- for header part -->
<header>

	<div class="logosec">
		<div class="logo"><img src="static/images/log.svg" width="150px" height="50px"></div>
		<img src="static/images/Untitled-design-(30).png"
			class="icn menuicn"
			id="menuicn"
			alt="menu-icon">
	</div>

	<div class="title">
		<h3>COLLABORATIVE FILTERING ALGORITHM</h3>
	</div>

	<form action="/user_search_users" method="get">
	<div class="searchbar">
		<input type="text"
			placeholder="Search" name="search_value">
		<div class="searchbtn">
		<button><img src="static/images/Untitled-design-(28).png"
				class="icn srchicn"
				alt="search-icon"></button>
		<!-- <input type="submit" value="Search" src="static/images/Untitled-design-(28).png" class="icn srchicn"> -->
		</div>
	</div>
	</form>

	<div class="message">
		<!-- <div class="circle"></div>
		<img src="static/images/non_notify.png"
			class="icn"
			alt=""> -->
		<div class="dp">
			<img src="../static/images/profile-removebg-preview.png" alt="person-circle" class="dpicn" />
		</div><span id="lname">{{lname}}</span>
	</div>

</header>

<div class="main-container">
	<div class="navcontainer">
		<nav class="nav">
			<div class="nav-upper-options">
				<div class="nav-option option2">
					<a href="/user_menu" style="text-decoration: none;color: #FFBB00; cursor: pointer;"><img src="static/images/home-white.png"
						class="nav-img"
						alt="dashboard">
					<h3> Dashboard</a></h3>
				</div>

				<div class="nav-option option1">
					<a href="user_view_users" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> 
					<img src="static/images/search.png"
						class="nav-img"
						alt="dashboard">
					<h3>SEARCH FRIEND</a></h3>
				</div>

				<div class="nav-option option2">
					<a href="user_request" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;">
					<img src="static/images/non_notify.png"
						class="nav-img"
						alt="dashboard">
					<h3> VIEW REQUESTS</a></h3>
				</div>

				<div class="nav-option option2">
					<a href="user_friend_list" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;">
					<img src="static/images/eye-white.png"
						class="nav-img"
						alt="dashboard">
					<h3> VIEW FRIENDS LIST</a></h3>
				</div>

				<div class="nav-option option2">
					<a href="user_view_videos" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;">
					<img src="static/images/vid.png"
						class="nav-img"
						alt="dashboard">
					<h3> VIEW ALL VIDEOS</a></h3>
				</div>

				<div class="nav-option option2">
					<a href="user_recommended_videos" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 10.5px;">
					<img src="static/images/video-white.png"
						class="nav-img"
						alt="dashboard">
					<h3> FRIENDS RECOMMENDED VIDEOS</a></h3>
				</div>
				
			

				<div class="nav-option logout">
					<a href="user_logout" style="text-decoration: none;color: red; cursor: pointer; font-size: 14px;">
					<img src="static/images/power-white.png"
						class="nav-img"
						alt="logout">
					<h3>Logout</a></h3>
				</div>


			</div>
		</nav>
	</div>
	<div class="main">
		
		<center><h1>User's LIST</h1></center>
		<br><br>
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
					<table>
							<tbody >
								<tr class="row100 head">
									<th class="cell100 column3" >USERNAME</th>
									<th class="cell100 column2">EMAIL</th>
									<th class="cell100 column1">STATUS</th>
					
									
								</tr>
							</tbody>
						</table>
					</div>
                    <div class="table100-body js-pscroll">
		<table>
			<tbody style="text-align: center;">
				<form action="user_send_req" method="get">
				{% if bool %}
				{% for users in users_list %}
				<tr class="row100 head" >
					<td class="cell100 column3">{{users.username}}</td>
					<td class="cell100 column2">{{users.email}}</td>
					<td class="cell100 column1">
						<!-- <button type="submit" style="margin-right: 2rem;" name="accept">
							<img src="../static/images/right tick mark.png" height="17rem" width="20rem" alt="right tick" >
						</button>
							<button type="submit" name="reject">
								<img src="../static/images/wrong red cross symbol.png" height="17rem" width="20rem" alt="wrong tick">
							</button> -->
							{% if users.id in req_list %}
							<h3>Pending</h3>
							{% elif users.id|string in friends %}
							<h3>Friend</h3>
							{% else %}
							<button type="submit" name="send_req" width="20rem" value="{{users.id}}" >Send Request</button>
							{% endif %}
						</td>
						<!-- <td class="cell100 column6"></td> -->
						
					</tr>
					{% endfor %}
					{% else %}
					{% for users in s_u_list %}
					<tr class="row100 body" >
						<td class="cell100 column3">{{users.username}}</td>
						<td class="cell100 column2">{{users.email}}</td>
						<td class="cell100 column1">
							{% if users.id in req_list %}
							<h3>Pending</h3>
							{% elif users.id|string in friends %}
							<h3>Friend</h3>
							{% else %}
							<button type="submit" name="send_req" width="20rem" value="{{users.id}}" >Send Request</button>
							{% endif %}
						</td>
					<!-- <td class="cell100 column6"></td> -->
					
				</tr>
				{% endfor %}
				{% endif %}
			</form>

			</tbody>
		</table>
	</div>
				</div>		
		</div>
	</div>
</div>


<footer style="color: red; padding: 35vh 0 0 71vh; justify-content: center;">
	Copyright By 2023 All Rights Reserve
</footer>
</div>
</div>


<script>
let menuicn = document.querySelector(".menuicn");
let nav = document.querySelector(".navcontainer");

menuicn.addEventListener("click",()=>
{
	nav.classList.toggle("navclose");
})

$('.js-pscroll').each(function(){
	var ps = new PerfectScrollbar(this);

	$(window).on('resize', function(){
		ps.update();
	})
});
</script>

</body>
</html>