<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width,
				initial-scale=1.0">
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',path='style.css')}}" /> -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='newstyle.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',path='responsive.css')}}" />
</head>
<style>
#lname{
    font-size: 1.8rem;
	color: green;
}
#lname:hover{
    filter: grayscale();
}
</style>

<body>

<!-- for header part -->
<header>

	<div class="logosec">
		<div class="logo"><img src="static/images/log.svg" width="150px" height="50px"></div>
		<img src="static/images/Untitled-design-(30).png"
			class="icn menuicn"
			id="menuicn"
			alt="menu-icon">
	</div>

	<div class="title">
		<h3>COLLABORATIVE FILTERING ALGORITHM</h3>
	</div>

	<div class="searchbar">
		<input type="text"
			placeholder="Search">
		<div class="searchbtn">
		<img src="static/images/Untitled-design-(28).png"
				class="icn srchicn"
				alt="search-icon">
		</div>
	</div>

	<div class="message">
		<div class="circle"></div>
		<img src="static/images/non_notify.png"
			class="icn"
			alt="">
		<div class="dp">
			<img src="../static/images/profile-removebg-preview.png" alt="person-circle" class="dpicn" />
		</div><span id="lname">{{lname}}</span>
	</div>

</header>

<div class="main-container">
	<div class="navcontainer">
		<nav class="nav">
			<div class="nav-upper-options">
				<div class="nav-option option1">
					<img src="static/images/home-white.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="/user_menu" style="text-decoration: none;color: #FFBB00; cursor: pointer;"> Dashboard</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/search.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_view_users" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> SEARCH FRIEND</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/non_notify.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_request" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> VIEW REQUESTS</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/eye-white.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_friend_list" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> VIEW FRIENDS LIST</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/vid.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_view_videos" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 12px;"> VIEW ALL VIDEOS</a></h3>
				</div>

				<div class="nav-option option2">
					<img src="static/images/video-white.png"
						class="nav-img"
						alt="dashboard">
					<h3><a href="user_recommended_videos" style="text-decoration: none;color: #FFBB00; cursor: pointer; font-size: 10.5px;"> FRIENDS RECOMMENDED VIDEOS</a></h3>
				</div>
				
			

				<div class="nav-option logout">
					<img src="static/images/power-white.png"
						class="nav-img"
						alt="logout">
					<h3><a href="user_logout" style="text-decoration: none;color: red; cursor: pointer; font-size: 14px;">Logout</a></h3>
				</div>

			</div>
		</nav>
	</div>
	<div class="main">
		
		<center><h1>WELCOME TO USER PANEL</h1></center><br><br>
		<marquee class="blink" width="100%" direction="left" height="50px">COLLABORATIVE FILTERING ALGORITHM IS ONE OF THE WIDELY USE APPROCHESE IN DAILY LIFE, SO HOW TO IMPROVE QUALITY AND EFFICENCY OF COLLABORATIVE FILTERING ALGORITHM IS AN ESSENTIAL PROBLEM USUALLY, SOME TRADITION ALGORITHM FOCUS ON USER RATING, WHILE THEY DON'T TAKE USER RATING USER RATING DIFFERENCE AND USER INTEREST INTO ACCOUNT. HOWEVER, USER HAVE LITTLE RATING DIFFERENCE.</marquee>
		<footer style="color: red; padding: 65vh 0 0 71vh; justify-content: center;">
			Copyright By 2023 All Rights Reserve
		</footer>
	</div>
</div>


	<script>
		let menuicn = document.querySelector(".menuicn");
		let nav = document.querySelector(".navcontainer");
		
		menuicn.addEventListener("click",()=>
		{
			nav.classList.toggle("navclose");
		})
	</script>

	
</body>
</html>
